
<h1>Bienvenido</h1>
<div class="container theme-showcase" role="main">
 

  <hr>
  <a (click)="newUser()" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Nuevo Usuario</a>
  
  <hr>
  
  <table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Nombre</th>
<th scope="col">Teléfono</th>
<th scope="col">Email</th>
<th scope="col">Nombre de usuario</th>
<th scope="col">Hogares del usuario</th>
<th scope="col">Opciones de usuario</th>
</tr>
</thead>
<tbody>

<tr *ngFor="let item of users">
<td>{{item.nombre }}</td>
<td>{{item.telefono }}</td>
<td>{{item.email }}</td>
<td>{{item.username }}</td>
<td>
    <img class="center-block editIcon" src="../../assets/icons8-casa-48.png" (click)="loadHousesPage(item)">
</td>
<td>
  <img class="center-block editIcon" src="../../assets/pencil3(2).png" (click)="editUser(item)">
  <img class="center-block editIcon" src="../../assets/deletered.png" (click)="deleteUser(item)">
</td>


</tr>


</tbody>
</table>


<hr>
