
<div class="container theme-showcase" role="main">
 

  <hr>
  <a href="/houses/create_house" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Nuevo Hogar</a>
  
  <hr>
  
  <table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Ciudad</th>
<th scope="col">Direccion</th>
<th scope="col">Nombre de usuario</th>
<th scope="col" style="text-align: center;">Consumo energético</th>
<th scope="col">editar</th>
<th scope="col">eliminar</th>
</tr>
</thead>
<tbody>

<tr *ngFor="let item of houses">
<td>{{item.ciudad }}</td>
<td>{{item.direccion }}</td>
<td>{{item.usuario.nombre }}</td>
<td>
  <img class="editIcon" src="../../assets/icons8-luz-encendida-48.png" [routerLink]="['/houses/energy', item.id]">
</td>
<td>
  <img class="editIcon" src="../../assets/pencil3(2).png" [routerLink]="['/houses/create_house', item.id]">
</td>
<td>
  <img class="editIcon" src="../../assets/deletered.png" (click)="deleteHouse(item)">
</td>
<!--
<td>{{item.username }}</td>
<td>
    <a href="houses" role="button" aria-pressed="true" ><img class="center-block" src="../../assets/icons8-casa-48.png"></a>
  
</td>

-->
</tr>


</tbody>
</table>


<hr>
